<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Calificacion</title>
</head>
<body>
    <main>
        <h1>Eliminar Calificacion</h1>
        <p>¿Estas seguro de que deseas eliminar la calificacion de <strong>{{ calificacion.nombre_estudiante }}</strong> en <strong>{{ calificacion.asignatura }}</strong>?</p>
        
        <form method="post">
            {% csrf_token %}
            <button type="submit">Si, eliminar</button>
        </form>
        <br>
        <a href="{% url 'calificaciones_Alejandro_Carlos_Luciana:listar_calificaciones' %}">Cancelar y volver a la lista</a>
    </main>
</body>
</html>
